<% layout('layouts/boilerplate') %>

    <h1>Campgrounds</h1>
   
    <ol>
    <% for( let camp of campgrounds) {%>
        <li><a href="campground/<%= camp._id %>"><%=  camp.name %></a></li>
         <% let count=0 %>
        <% count++ %>
         
        <% } %>
    </ol>
        
        <a href="/campground/new">Add New Campground</a>
